*{
    padding: 0%;
    margin: 0%;
}
nav{
background-color: white;   
 display: flex;
    justify-content:space-between;
  }
  nav >.Logo,.Links{
    margin: 15px;
  }
  nav > .Logo > h3{
    font-size: 30px;
    color: black
  }
  
  nav > .Links > ul > li{
    display: inline-block;
    padding: 10px;
color: black;  }
  
  nav > .thelinks > ul > li > .Enroll{
    padding: 10px;
    color: white;
    background-color: blue;
  }
  .Enroll{
    color: antiquewhite;
    background-color: #EC4067;
height: 30px;
width: 90px;
  }
  h1{
      color: #EC4067;
  }
  #MSHome{
      margin-top: 30px;
      margin-bottom: 30px;
  }
  #MSHome>.Home{
    display: flex;
}
#MSHome>.Home>.leftside,.rightside{
    width: 50%;
  }
  #MSHome>.Home>.leftside{
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }

#MSStories{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.SeeAlbum{
    color: antiquewhite;
    background-color: #EC4067;
height: 30px;
width: 90px;
  }
  #MSStories>.Stories> .leftside, .storiesContent{
    width: 50%;
  }