*{
    padding: 0%;
    margin: 0%;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}
body{

}
button{
  color: antiquewhite;
  background-color: #EC4067;
height: 30px;
width: 90px;}
nav{
background-color: white;   
 display: flex;
    justify-content:space-between;
  }
  nav >.Logo,.Links{
    margin: 15px;
  }
  nav > .Logo > h3{
    font-size: 30px;
    color: black
  
  }
  
  nav > .Links > ul > li{
    display: inline-block;
    padding: 10px;
color: black;  }
  
  nav > .thelinks > ul > li > .Enroll{
    padding: 10px;
    color: white;
    background-color: blue;
  }
  .Enroll{
    color: antiquewhite;
    background-color: #EC4067;
height: 30px;
width: 90px;
  }
  h1{
      color: #EC4067;
  }
  #MSHome{
      margin-top: 30px;
      margin-bottom: 30p;  
}
  #MSHome>.Home{
    display: inline-flex;
}
#MSHome.Home>.leftside>p{
text-size-adjust: 10px;}

#MSHome>.Home>.leftside,.rightside{
    width: 50%;
  }
  #MSHome>.Home>.leftside{
    justify-content: center;
    align-items: center;
  
  }

  #Stories>.MSStories{
    display: flex;
    margin-bottom: 70px; right: 10px;
}
#Stories>.MSStories>.storiesleftside,.storiesRightSide{
  width: 50%;
}
.storiesButtonLink{
  color: antiquewhite;
    background-color: #EC4067;
height: 30px;
width: 90px;
}
/*Board Meeting*/
#boardHead>.Board{
  display: inline-flex;
}
#boardHead>.Board>.BDrightside{ 
  height: 80%; width: 60%;
}

  
.theBoardButton{
  color: antiquewhite;
  background-color: #EC4067;
  height: 30px;
width: 150px;
}
.BDp{
  margin-top: 10px;
}
 /*Graduation*/
 #sectGraduation{
  margin-top: 20px;
  margin-bottom: 20px;
}
#sectGraduation > .Graduation{
  display: flex;
}

#sectGraduation > .Graduation> .GDleftside, .GDrightside{
  width: 50%;
}
#sectGraduation > .boutme > .GDrightside{
  padding-right: 1px;
}
.SeeOurAlbumBT{
  color: antiquewhite;
  background-color: #EC4067;
  height: 30px;
width: 90px;
}
/* TechMentors */
#TechMentors{
 

}
.column {
  width: 15%;
  display: inline-block;
  }
  .tech h3{
  font-size: x-large;
  padding-top: 20px;
  font-weight:lighter;
  
  }
 
  .tech h5{
  font-size: x-large;
  padding-top: 20px;
  font-weight:lighter;
  color: #EC4067;
  }
 
 .tech span{
 
  font-size: x-small;
  font-size: small;
  color:lightslategray
  
 }
 
 #technicalMentors>.tech p{
  font-family: 'Nunito', sans-serif;
  font-size:medium;
  text-align: left;
 }
 .tech button{
  margin-left: 0px;
 }
 
 
  #technicalMentors>.tech> .head{
 position: absolute;
  left: 220px;
  top: 2760px;
  color: white;
 }
 
  /*Projects*/
  #Mprojects{
    margin-top: 100px;
  }
#Mprojects>.Pbody{
  margin-top: 20px;
}
#MProjects>.Pbody>.Pleftside, .Prightside{

}
#MProjects .body{
  padding-top: 0px;
  margin-bottom:200px;
  padding-left: 40px;
  width: 60%;
 }
#MProjects h4 span{
  
  
 }
 
 #Projects .em{
  background-color:lightgray;
  font-size: x-large;
 }

/*Call to action*/
.contact{
  padding-left: 200px;
  margin-top: 100px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 100px;
  
 }
 .contact h1{
  color:#EC4067;
 }
 
 .contact span{
  color: #EC4067;
 }
 
 .footer{
  text-align: center;
  background-color: lightgrey;
  padding: 50px;
  opacity: 50%;
 }



