*{
    padding: 0%;
    margin: 0%;
}
button{
  color: antiquewhite;
  background-color: #EC4067;
height: 30px;
width: 90px;}
nav{
background-color: white;   
 display: flex;
    justify-content:space-between;
  }
  nav >.Logo,.Links{
    margin: 15px;
  }
  nav > .Logo > h3{
    font-size: 30px;
    color: black
  }
  
  nav > .Links > ul > li{
    display: inline-block;
    padding: 10px;
color: black;  }
  
  nav > .thelinks > ul > li > .Enroll{
    padding: 10px;
    color: white;
    background-color: blue;
  }
  .Enroll{
    color: antiquewhite;
    background-color: #EC4067;
height: 30px;
width: 90px;
  }
  h1{
      color: #EC4067;
  }
  #MSHome{
      margin-top: 30px;
      margin-bottom: 30px;
right: 10px;  
}
  #MSHome>.Home{
    display: flex;
}
#MSHome>.Home>.leftside,.rightside{
    width: 50%;
  }
  #MSHome>.Home>.leftside{
    justify-content: center;
    align-items: center;
    padding-left: 30px;
  }

  .stories-Section{
    margin-bottom: 70px;
    right: 10px;
}
.stories-position-relative{
    position: relative;
    right: 20px;
}
.orientation-first-absolute{
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 550px;
}
.orientation-second-absolute{
    font-weight: 500;
    font-size: 1.1rem;
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
  #boardHead{
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
  }
  #boardHead>.Board>.leftside,.BDrightside{
    width: 50%;
  }
.theBoardButton{
  color: antiquewhite;
  background-color: #EC4067;
  height: 30px;
width: 90px;
}
.BDrightside{
float: right;
}
#sectGraduation{
  margin-top: 20px;
  margin-bottom: 20px;
}
#sectGraduation > .Graduation{
  display: flex;
}

#sectGraduation > .Graduation> .GDleftside, .GDrightside{
  width: 50%;
}

#sectGraduation > .Graduation> .GDleftside{
  display: flex;
  align-items: center;
}

#sectGraduation > .boutme > .GDrightside{
  padding-right: 10px;
}
.SeeOurAlbumBT{
  color: antiquewhite;
  background-color: #EC4067;
  height: 30px;
width: 90px;
}
#TechMentors{
  padding-left: 20px;
  padding-top: 40px;
  font-weight: lighter;
  margin-left: 180px;

}
.column {
  width: 22.22%; padding: 5px;
  position: relative;
  }
  #TechnicalMentors span{
       
    font-size: x-small;
    font-size: small;
    color:lightslategray
    
   }
   #Techmentors h3{
    font-size: x-large;
    padding-top: 20px;
    font-weight:lighter;
    
    }
    #TechMentors h3{
      font-size: x-large;
      padding-top: 20px;
      font-weight:lighter;
      
      }
     
    #TechMentors h5{
      font-size: x-large;
      padding-top: 20px;
      padding-left: 30px;
      font-weight:lighter;
      }
.RButton{
  color: antiquewhite;
  background-color: #EC4067;
  height: 40px;
width: 90px;
}
.Projects{
  display: flex;
  margin-top: 20px;
}
.Projects .body{
  padding-top: 0px;
  margin-bottom:200px;
  padding-left: 40px;
  width: 60%;
 }
.Projects h4 span{
  font-size: small;
  color:lightslategray
  
 }
 
 .Projects .em{
  background-color:lightgray;
  font-size: x-large;
 }
 .Bike{
float: right; }
.contact{
  display: flex;
  padding-left: 200px;
  margin-top: 100px;
  flex-direction: row;
  align-items: center;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 100px;
  
 }
 .contact h1{
  color:#EC4067;
 }
 
 .contact span{
  color: #EC4067;
 }
 
 .footer{
  text-align: center;
  background-color: lightgrey;
  padding: 50px;
  opacity: 50%;
 }



